timeout 0

menu background splash.png
menu title Spear 22.3 - Field faster than Normal
menu resolution 640 480

menu color screen37;40  #80ffffff #00000000 std
MENU COLOR border       30;44   #40ffffff #a0000000 std
MENU COLOR title        1;36;44 #ffffffff #a0000000 std
MENU COLOR sel          7;37;40 #e0ffffff #20ffffff all
MENU COLOR unsel        37;44   #50ffffff #a0000000 std
MENU COLOR help         37;40   #c0ffffff #a0000000 std
MENU COLOR timeout_msg  37;40   #80ffffff #00000000 std
MENU COLOR timeout      1;37;40 #c0ffffff #00000000 std
MENU WIDTH 78
MENU MARGIN 12
MENU ROWS 10
MENU VSHIFT 8
MENU TABMSGROW 14
MENU CMDLINEROW 14
MENU HELPMSGROW 16
MENU HELPMSGENDROW 29

# Field = speed path (multi-user, no Cinnamon/lightdm, lean masks, light CPU mitigations)
# Normal = full desktop (heavier by design)
# War = max harden (slowest)
# Doctrine: data/boot-line-doctrine.json

label field
menu label ^Field - fast field stack (default)
menu default
menu help Text No desktop. multi-user. Field1 + spear. Faster than Normal by design.
kernel /casper/vmlinuz
append boot=casper initrd=/casper/initrd.lz uuid=6e72f523-dc09-4880-8910-93ffa64401c5 username=spear hostname=spear spear_mode=field spear_harden=1 spear_fast=1 systemd.unit=multi-user.target quiet loglevel=3 systemd.show_status=false fsck.mode=skip raid=noautodetect noresume tsc=reliable apparmor=1 security=apparmor pti=on systemd.mask=lightdm.service,accounts-daemon.service,ModemManager.service,cups.service,cups-browsed.service,avahi-daemon.service,blueman-mechanism.service,openvpn.service,touchegg.service,kerneloops.service,casper-md5check.service,ubiquity.service,mintsystem.service,ssl-cert.service,switcheroo-control.service,apport.service,power-profiles-daemon.service,thermald.service,bluetooth.service,rsyslog.service,cron.service,anacron.service,cups.path,whoopsie.service console=tty0 console=ttyS0,115200n8 vga=normal ---

label normal
menu label ^Normal - full desktop
menu help Text Cinnamon desktop. Hardened. Heavier than Field.
kernel /casper/vmlinuz
append boot=casper initrd=/casper/initrd.lz uuid=6e72f523-dc09-4880-8910-93ffa64401c5 username=spear hostname=spear spear_mode=normal spear_harden=1 quiet loglevel=3 systemd.show_status=error fsck.mode=skip raid=noautodetect noresume apparmor=1 security=apparmor page_alloc.shuffle=1 randomize_kstack_offset=on slab_nomerge pti=on systemd.mask=ModemManager.service,cups.service,cups-browsed.service,avahi-daemon.service,blueman-mechanism.service,openvpn.service,touchegg.service,kerneloops.service,casper-md5check.service,ubiquity.service,mintsystem.service,ssl-cert.service,switcheroo-control.service,apport.service console=tty0 console=ttyS0,115200n8 vga=normal ---

label fielddrive
menu label ^Create Field Drive - wipe disk
menu help Text Console wizard. Same lean base as Field.
kernel /casper/vmlinuz
append boot=casper initrd=/casper/initrd.lz uuid=6e72f523-dc09-4880-8910-93ffa64401c5 username=spear hostname=spear spear_mode=fielddrive spear_harden=1 spear_fast=1 systemd.unit=multi-user.target quiet loglevel=3 systemd.show_status=false fsck.mode=skip raid=noautodetect noresume tsc=reliable apparmor=1 security=apparmor pti=on systemd.mask=lightdm.service,accounts-daemon.service,ModemManager.service,cups.service,cups-browsed.service,avahi-daemon.service,blueman-mechanism.service,casper-md5check.service,ubiquity.service,touchegg.service,kerneloops.service,apport.service,thermald.service,bluetooth.service,rsyslog.service,cron.service console=tty0 console=ttyS0,115200n8 vga=normal ---

label compat
menu label ^Compat - difficult hardware
menu help Text nomodeset desktop path.
kernel /casper/vmlinuz
append boot=casper initrd=/casper/initrd.lz uuid=6e72f523-dc09-4880-8910-93ffa64401c5 username=spear hostname=spear spear_mode=normal spear_harden=1 quiet loglevel=3 fsck.mode=skip raid=noautodetect noresume nomodeset nosplash irqpoll apparmor=1 security=apparmor systemd.mask=ModemManager.service,cups.service,cups-browsed.service,avahi-daemon.service,casper-md5check.service,ubiquity.service,touchegg.service,kerneloops.service,apport.service console=tty0 console=ttyS0,115200n8 vga=normal ---

label war
menu label ^War - max harden (slower)
menu help Text Extra CPU mitigations. Threat-first, not speed-first.
kernel /casper/vmlinuz
append boot=casper initrd=/casper/initrd.lz uuid=6e72f523-dc09-4880-8910-93ffa64401c5 username=spear hostname=spear spear_mode=normal spear_harden=1 spear_war=1 quiet loglevel=3 fsck.mode=skip raid=noautodetect noresume apparmor=1 security=apparmor page_alloc.shuffle=1 randomize_kstack_offset=on slab_nomerge pti=on spectre_v2=on spec_store_bypass_disable=prctl l1tf=flush mds=full tsx=off systemd.mask=ModemManager.service,cups.service,cups-browsed.service,avahi-daemon.service,casper-md5check.service,ubiquity.service,apport.service console=tty0 console=ttyS0,115200n8 vga=normal ---

label debug
menu label ^Debug - verbose serial
menu help Text Full loglevel. Boot forensics.
kernel /casper/vmlinuz
append boot=casper initrd=/casper/initrd.lz uuid=6e72f523-dc09-4880-8910-93ffa64401c5 username=spear hostname=spear spear_mode=field spear_harden=1 spear_debug=1 spear_fast=1 systemd.unit=multi-user.target loglevel=8 debug ignore_loglevel nosplash fsck.mode=skip raid=noautodetect noresume apparmor=1 security=apparmor systemd.mask=lightdm.service,ModemManager.service,cups.service,casper-md5check.service,ubiquity.service,apport.service console=tty0 console=ttyS0,115200n8 vga=normal ---

label local
menu label Boot from local drive
COM32 chain.c32
APPEND hd0

label memtest
menu label Memory test
linux /boot/memtest.bin
